.detail-list {
  position: relative; }

.detail-list .item {
  padding: 16px 0;
  position: relative; }

.detail-list .item .coin-name {
  color: #4085af;
  font-size: 20px; }

.detail-list .item .pay-count {
  color: #8c9497;
  font-size: 12px; }

.detail-list .item .price {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #8c9497;
  text-align: right; }

.detail-list .item .price .usd {
  font-size: 18px; }

.detail-list .item .price .usd::after {
  content: ' USD';
  font-size: 12px; }

.detail-list .item .price .cny {
  font-size: 12px; }

.detail-list .item .price .cny::after {
  content: ' CNY';
  font-size: 12px; }
