.form {
  position: relative; }

.form .item {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 10px 0; }

.form .item .label {
  color: #9c9c9c;
  float: left;
  width: 45%;
  font-size: 12px;
  text-indent: 14px; }

.form .item .count {
  width: 55%;
  float: left;
  font-size: 12px; }
