.tab-cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 44px;
  font-size: 16px;
  overflow: scroll; }

.tabs {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px; }

.tabs .tab {
  float: left;
  width: 25%;
  text-align: center;
  height: 44px;
  overflow: hidden;
  font-size: 12px;
  background-color: #3183cc; }

.tabs .tab:active, .tabs .tab.current {
  background-color: #1f6aab;
  color: #fff; }

.tabs .tab:active .tab-img, .tabs .tab.current .tab-img {
  opacity: 0.5; }

.tabs .tab .tab-img {
  width: 24px;
  height: 24px;
  display: block;
  margin: 2px auto; }
