.table {
  width: 100%;
  text-align: left; }

.table th {
  font-weight: normal;
  font-size: 14px;
  background: #f7f7f7;
  width: 25%;
  line-height: 36px;
  height: 36px; }

.table tbody tr {
  height: 52px;
  border-bottom: 1px solid #f7f7f7;
  font-size: 14px; }

.table tbody .group {
  position: relative;
  font-size: 12px; }

.table tbody .group .number {
  color: #3183cc;
  margin-bottom: 3px; }

.table th, .table td {
  padding: 0 14px; }
